<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style>
            span {
                padding: 4px;
                background-color: #CCC;
            }
        </style>
    </head>
    <body ng-app="PersonApp">

        <h3></h3>

        <div class="container">
            Name: <input type="text" ng-model="nameText" />  <span>{{ nameText | uppercase }}</span>
        </div>

        <h3>ng-init array of object values, ng-repeat to iterate objects array, filter by nameText input, orderBy name</h3>

        <div class="container" ng-controller="PersonController">
            <ul>
                <li ng-repeat="person in persons | filter:nameText | orderBy:'city'">{{ person.name }} - {{ person.city | lowercase }}</li>
            </ul>
        </div>

        <script src="../Scripts/angular.js"></script>

        <script>
            var app = angular.module( 'PersonApp' , [] );

            app.controller( 'PersonController' , function( $scope ) {
                $scope.persons = [{name:'Robert',city:'Alexandria'},{name:'Dave',city:'West Pittston'},{name:'John',city:'Reston'},{name:'Mike',city:'Philadelpha'},{name:'Joe',city:'NYC'}];
            });
        </script>

    </body>
</html>