[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


.red {
    color : red;
}


/* https://gist.github.com/DanWahlin/8077397 */
/* begin */
.slide-animation.ng-enter, .slide-animation.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position:relative;
    height: 1000px;
}
 
/* begin here */
.slide-animation.ng-enter {
    z-index:100;
    left:100px;
    opacity:0;
}
 
/* end here */
.slide-animation.ng-enter.ng-enter-active {
    left:0;
    opacity:1;
}
 
.slide-animation.ng-leave {
    z-index:101;
    opacity:1;
    left:0;
}
 
.slide-animation.ng-leave.ng-leave-active {
    left:-100px;
    opacity:0;
}
 
 
.repeat-animation.ng-enter, 
.repeat-animation.ng-leave, 
.repeat-animation.ng-move {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    position:relative;
}
 
.repeat-animation.ng-enter {
    left:10px;
    opacity:0;
}
.repeat-animation.ng-enter.ng-enter-active {
    left:0;
    opacity:1;
}
 
.repeat-animation.ng-leave {
    left:10px;
    opacity:1;
}
.repeat-animation.ng-leave.ng-leave-active {
    left:-10px;
    opacity:0;
}
 
.repeat-animation.ng-move {
    opacity:0.5;
}
.repeat-animation.ng-move.ng-move-active {
    opacity:1;
}
/* end */
/* https://gist.github.com/DanWahlin/8077397 */








/*
.blue {
    color: blue;
}

table {
    border: solid 1px #000;
    border-collapse: collapse;
}

th {
    background-color: #EEE;
    border: solid 1px #999;
    padding: 4px;
}

td {
    border: solid 1px #EEE;
    padding: 4px;
}

footer {
    margin-top: 20px;
    padding-left: 10px;
    font-style: italic;
    background-color: #EEE;
}
*/



