<!doctype html>
<html data-ng-app="">
    <head>
        <title>using directives</title>
    </head>
    <body>
        Hide: <input type="checkbox" data-ng-model="divIsHidden" /?>
        <div data-ng-hide="divIsHidden" data-ng-init="name = 'Robert'">
            Name: <input type="text" data-ng-model="name" /> {{ name }}
            <br />
            <span data-ng-bind="name">Bind to "name" without using curly bracket syntax...</span>
        </div>
        <br />
        <button data-ng-click="name = 'Bob'">Change Name</button>
        
        <!-- {{ 4 * 8 }} -->
        
        <script src="scripts/angular.js"></script>
    </body>
</html>
