<!doctype html>
<html data-ng-app="">
    <head>
        <title>iterating data</title>
        <link rel="stylesheet" href="scripts/angular-styles.css" />
    </head>
    <body data-ng-cloak>
        <div data-ng-init="people=[{name:'Robert',city:'Alexandria'},{name:'Rob',city:'DC'},{name:'Bob',city:'Philly'},{name:'Bobby',city:'Scranton'}]">
            <h3></h3>
            <ul>
                <li data-ng-repeat="person in people">{{ person.name }} - {{ person.city }}</li>
            </ul>
        </div>
        
        <table>
            <tr>
                <th>Name</th>
                <th>City</th>
            </tr>
            <tr data-ng-repeat="person in people">
                <td>{{ person.name }}</td>
                <td>{{ person.city }}</td>
            </tr>
        </table>
        
        <script src="scripts/angular.js"></script>
    </body>
</html>
