<!doctype html>
<html data-ng-app="peopleApp">
    <head>
        <title>dynamic sorting</title>
        <link rel="stylesheet" href="scripts/angular-styles.css" />
    </head>
    <!-- Beginning in AngularJS 1.3 and higher, global functions such as PeopleController can NO LONGER BE USED -->
    <!-- Error: [ng:areq] Argument 'PeopleController' is not a function, got undefined   -->
    <body data-ng-cloak data-ng-controller="PeopleController">
        <div>
            <!-- use .name property to ensure filter ONLY filters using name otherwise all object properties are included in filter -->
            Filter by name: <input type="text" data-ng-model="nameText.name" />
            <br />
            
            <ul>
                <li data-ng-repeat="person in people | filter:nameText | orderBy:'name'">{{ person.name }} ({{ person.city | uppercase }}) {{ person.rate | currency }} - {{ person.joined | date }}</li>
            </ul>
        </div>
        
        <table>
            <tr>
                <th data-ng-click="sortColumn('name')">Name</th>
                <th data-ng-click="sortColumn('city')">City</th>
                <th data-ng-click="sortColumn('rate')">Rate</th>
                <th data-ng-click="sortColumn('joined')">Joined</th>
            </tr>
            <tr data-ng-repeat="person in people | orderBy:sortBy:reverse">
                <td>{{ person.name }}</td>
                <td>{{ person.city }}</td>
                <td>{{ person.rate | currency:'USD: $' }}</td>
                <!-- NEED outer DOUBLE quotes and inner SINGLE quotes to include string literals in formats -->
                <td>{{ person.joined | date:"EEEE, MMMM d, y 'at' h:mm:ss a" }}</td>
            </tr>
        </table>
        <br />
        <span>Total people: {{ people.length }}</span>
        
        <script src="scripts/angular.js"></script>
        <script src="app/modules/37-peopleApp.js"></script>
        <script src="app/controllers/37-peopleController.js"></script>
    </body>
</html>
